html {
  background-color: antiquewhite; }
body {
  margin: 0; }
nav {
  height: 48px;
  display: flex;
  justify-content: center; }
button {
  flex: 1;
  color: antiquewhite;
  background-color: maroon;
  border: 1px solid goldenrod; }
h1 {
  display: flex;
  justify-content: center; 
  margin: 4px 0 8px 0; 
  width: 67%;
  border-bottom: 1px solid black; }
#content {
  margin: 8;
  display: grid; }
#homeHeader {
  display: flex;
  justify-content: center; }