html {
  background-color: antiquewhite; }
body {
  margin: 0; }
nav {
  height: 48px;
  display: flex;
  justify-content: center; }
button {
  flex: 1;
  font-size: 24px;
  color: antiquewhite;
  background-color: maroon;
  border: solid goldenrod;
  border-width: 0 1px 2px 0px; }
h1 {
  margin: 0; }
#pageHeader {
  display: grid;
  grid-column: 1/3; 
  justify-content: center;
  margin: 4px 0 8px 0; 
  border-bottom: 1px solid black; }
#content {
  margin: 0 5vw 0 5vw;
  display: grid; 
  grid-template: 64px 7fr / 3fr 1fr; }
#pageBody {
  grid-column: 1/2; 
  margin-top: 0; }
#pageImage {
  grid: 2/3;
  padding: 3px;
  border: 1px solid tan; }
#pageImage > p {
  margin: 4px 0 0 0; }