html {
  background-color: antiquewhite; }
body {
  margin: 0; }
nav {
  height: 48px;
  display: flex;
  justify-content: center; }
button {
  flex: 1;
  color: antiquewhite;
  background-color: maroon;
  border: solid goldenrod;
  border-width: 0 1px 2px 0px}
h1 {
  display: flex;
  justify-content: center; 
  margin: 4px 0 8px 0; 
  width: 67%;
  border-bottom: 1px solid black; }
#content {
  margin: 0 5vw 0 5vw;
  display: grid; }
#articleHeader {
  display: flex;
  justify-content: center; }
#article {
  display: flex;
}
#pageBody {
  flex: 4;
}
#coverImage {
  flex: 1;
  padding: 3px;
  border: 1px solid tan;
}
#coverImage > p {
  margin: 4px 0 0 0; }